<div class="panel panel-default"
     style="margin-bottom: 0;">
    <div class="panel-heading">
        <h3 class="panel-title">Добавление новой меры по дефекту</h3>
    </div>
    <div class="panel-body" ng-controller="executorCtrl">
        <form class="row" ng-submit="addSolution(measures, executor, appointmentDate, completeDate, editSolutionDefect)" style="margin: 0;">
            <input class="form-control"
                   ng-model="measures"
                   style="width: 100%; margin: 5px 0;"
                   placeholder="Мера" required autofocus/>
            <angucomplete class="my_angucompleate"
                          style="width: 100%; margin: 5px 0;"
                          placeholder="Ответственный исполнитель"
                          pause="200"
                          selectedobject="object"
                          url="/executor/search/?params="
                          titlefield="title"
                          ng-model="executor"
                          inputclass="new_class_inpt form-control"/>
            <input class="form-control datepicker"
                   ng-model="appointmentDate"
                   style="width: 100%; margin-right: 5px"
                   placeholder="Назначенный срок"
                   readonly
                   required
                   datepicker-executor-appointmen/>
            <input class="form-control datepicker"
                   ng-model="completeDate"
                   style="width: 100%; margin-right: 5px"
                   placeholder="Срок выполнения"
                   readonly
                   required
                   datepicker-executor-done/>
            <button ng-show="showButtonAddExecutor"
                    type="button"
                    class="btn btn-primary"
                    style="float: left; margin: 5px 0"
                    ng-click="addNewExecutor()">Добавить исполнителя</button>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="reset" class="btn btn-default" ng-click="cancelAddSolutionForm()">Отмена</button>{{searchStr}}
        </form>
    </div>
</div>